<a class="btn btn-info" href="@Url.Action("Exibir", ViewBag.Controller, new { id = ViewBag.Id })" title="Exibir @ViewBag.Entidade"><i class="fa fa-eye"></i></a>
<a class="btn btn-warning" href="@Url.Action("Alterar", ViewBag.Controller, new { id = ViewBag.Id })" title="Alterar @ViewBag.Entidade"><i class="fa fa-pencil"></i></a>
<a class="btn btn-danger" href="@Url.Action("ConfirmaDelete", ViewBag.Controller, new { id = ViewBag.Id })" title="Apagar @ViewBag.Entidade"><i class="fa fa-trash"></i></a>

