@model IEnumerable<ProjetoTeste.NH.Model.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Principal", "Home")">Painel de Indicadores</a>
        </li>
        <li class="active">
            <i class="fa fa-users"></i> Clientes
        </li>
    </ol>
</div>

<div class="form-horizontal panel panel-default">
    <div class="panel-heading">
        Lista de Clientes
    </div>
        <div class="panel-body">
        <p>
            <a href="@Url.Action("Novo")" class="btn btn-success"><i class="fa fa-plus"></i></a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    Quantidade de Projetos
                </th>
                <th>Ação</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantidadeProjetos)
                    </td>

                    <td>
                        <a class="btn btn-info" href="@Url.Action("Exibir", "Cliente", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-warning" href="@Url.Action("Alterar", "Cliente", new { id = item.Id })"><i class="fa fa-pencil"></i></a> 
                        <a class="btn btn-danger" href="@Url.Action("ConfirmaDelete", "Cliente", new { id = item.Id })"><i class="fa fa-trash"></i></a> 
                    </td>
                </tr>
            }

        </table>
    </div>
</div>